<div id="card" onclick= "openCardContent(this)">
    <h3>číslo požadavku</h3>
    <div id="hidden-content">
        <div>
            <p>{{ request.username }}</p>
        </div>
        <div>
            <p>{{ request.useremail }}</p>
        </div>
        <div>
            <p>{{ request.userphone }}</p>
        </div>
        <div>
            <p>{{ request.location }}</p>
        </div>
        <div>
            <p>{{ request.evnumber }}</p>
        </div>
        <div>
            <p>datum</p>
        </div>
        <div>
            <form class="form_technician" action="admin.html" method="post" enctype="multipart/form-data">
                <select class="technician_tile" name="technician" id="technician">
                    <option value="not_taken"></option>
                    <option value="Václav">Václav</option>
                    <option value="Zdeněk">Zdeněk</option>
                    <option value="Petr">Petr</option>
                    <option value="Filip">Filip</option>
                    <option value="Daniel">Daniel</option>
                    <!--potřeba promyslet, jestli je nabídka dostačující-->
                </select>
            </form>
            <div class="text_request">
                {{ request.content }}
            </div>
            <form class="form_status" action="admin.html" method="post" enctype="multipart/form-data">
                <select class="status_tile" name="status" id="status">
                    <option value="recieved">Přijato</option>
                    <option value="solving">V řešení</option>
                    <option value="finished">Hotovo</option>
                    <!--potřeba promyslet, jestli je nabídka dostačující-->
                </select>
            </form>
        </div>
        <div>
            <form class="form_comment" action="" method="post" enctype="multipart/form-data">
                <label for="problem_text"><b>*Popis požadavku:</b></label>
                <textarea name="comment_tile" id="comment_tile"</textarea>
            </form>
        </div>  
        <div>
            <img src="{{ asset('images/' ~ request.image) }}">
        </div> 
        <div class="close-btn">
            <button onclick="closeCardContent(event)">Close</button>
        </div>
    </div>
    <div class="pre_card">
        <div class="text_request">
            {{ request.content|striptags|u.truncate(120, '...') }}
        </div>
        
        <form class="form_technician" action="admin.html" method="post" enctype="multipart/form-data">
            <select class="technician_tile" name="technician" id="technician">
                <option value="not_taken"></option>
                <option value="Václav">Václav</option>
                <option value="Zdeněk">Zdeněk</option>
                <option value="Petr">Petr</option>
                <option value="Filip">Filip</option>
                <option value="Daniel">Daniel</option>
                <!--potřeba promyslet, jestli je nabídka dostačující-->
            </select>
        </form>
        <form class="form_status" action="admin.html" method="post" enctype="multipart/form-data">
            <select class="status_tile" name="status" id="status">
                <option value="recieved">Přijato</option>
                <option value="solving">V řešení</option>
                <option value="finished">Hotovo</option>
                <!--potřeba promyslet, jestli je nabídka dostačující-->
            </select>
        </form>
    </div>  
</div>

